*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.sec1 {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    background-color: rgb(74, 74, 216);
    transition:0.5%;
    align-items: center
}

header{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header img{
    width: 100px;
}

header ul li{
    margin-left: 20px;
    list-style: none;
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: white;
    
    font-weight: 400px;
}

.content{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgbox img{
    width: 150px;
}

.content .textbox{
    max-width: 40%;
} 

.content .textbox h2{
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.content .textbox h2 span{

     font-size: 2em;
}

.content .textbox a{
    display: inline-block;
    text-decoration: none;
    color: #111;
    margin-top: 20px;
    padding:8px 20px;
    background-color: white;
    border-radius: 40px;

}
.content .imgbox{
    display: flex;
    margin-right: 300px;
    justify-content: flex-end;
    
}
