*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
section {
    
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    background-color: rgb(92, 92, 236);
    transition:0.5s;
    align-items: center
}

header{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header img{
    width: 80px;
    position: relative;
}

header ul{
    position: relative;
    display:flex;
}

header ul li{
    
    list-style: none;
    
    
}

header ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: 400px;
    margin-left: 40px;
}

header ul li:hover{
    transform: translatey(-30%);
}


.content{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgbox img{
    width: 150px;
}

.content .textbox{
    max-width: 600px;
    position: relative;
} 

.content .textbox h2{
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.content .textbox h2 span{

     font-size: 2em;
}

.content .textbox p{
    color: #fff;
}

.content .textbox a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding:8px 20px;
    background-color: #d85f5f;
    border-radius: 40px;

}
.content .imgbox{
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    width: 600px;
    margin-top: 50px;
    
}

.content .imgbox img{
    width: 200px;
    max-height: 400px;
    
    
}
.thump{
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translatex(-50%);
    display: flex;
}
.thump li{
    
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
}

.thump li img{
    width: 40px;
    height:60px;
    
    
}

.thump li:hover {
    transform: translatey(-30px);
    
}

.iconi{
    position: absolute;
    top: 200px;
    right: 30px;
  
   
}

.iconi i{
    margin: 30px;
    display: flex;
    color: white; 
    font-size: 20px;  
    
}

.iconi i:hover{
    color: white;
    transform: translatey(-30%)
